/* Error: Expected ".
 *   ,
 * 5 |     font-family: Roboto, sans-serif"
 *   |                                     ^
 *   '
 *   sass\utils\_mixins.scss 5:37   @use
 *   sass\utils\_variable.scss 1:1  @use
 *   sass\base\base.scss 1:1        @forward
 *   sass\main.scss 1:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Expected ".\a   \2577 \a 5 \2502      font-family: Roboto, sans-serif"\d\a   \2502                                      ^\a   \2575 \a   sass\\utils\\_mixins.scss 5:37   @use\a   sass\\utils\\_variable.scss 1:1  @use\a   sass\\base\\base.scss 1:1        @forward\a   sass\\main.scss 1:1             root stylesheet';
}
